In [80]:
import pandas as pd
import sklearn
import sklearn.linear_model
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
df_cases = pd.read_csv("https://api.vitaldb.net/cases")  # clinical information
df_trks = pd.read_csv("https://api.vitaldb.net/trks")  # track list
df_labs = pd.read_csv('https://api.vitaldb.net/labs')  # laboratory results

In [106]:
vd = df_cases[['age','asa','emop']].sort_values('asa',ascending=False)
vd.fillna(2.0).head(50)

       age  asa  emop
3254  64.0  6.0     0
5907  37.0  6.0     0
3158  37.0  6.0     1
162   37.0  6.0     0
2918  37.0  6.0     0
3927  37.0  6.0     0
3961  73.0  6.0     0
3411  37.0  6.0     0
6130  37.0  6.0     0
5909  68.0  6.0     0
1132  37.0  6.0     0
463   69.0  6.0     1
5060  37.0  6.0     0
4747  12.0  4.0     1
1834  65.0  4.0     1
4738  50.0  4.0     1
6074  12.0  4.0     1
4743  62.0  4.0     0
365    0.8  4.0     0
6062  79.0  4.0     1
640   49.0  4.0     1
263    0.7  4.0     1
5268  73.0  4.0     1
1562  67.0  4.0     0
3568  78.0  4.0     1
4499  75.0  4.0     0
6057  72.0  4.0     1
5752  62.0  4.0     1
5174  82.0  4.0     1
5502   0.7  4.0     1
3526  82.0  4.0     1
294   81.0  4.0     0
5261  64.0  4.0     1
1292  81.0  4.0     1
5118  78.0  4.0     0
4682  73.0  4.0     1
4555  22.0  4.0     1
4008  62.0  4.0     1
5690  77.0  4.0     1
3485   0.7  4.0     1
992   33.0  4.0     0
3437  12.0  4.0     1
1985  53.0  4.0     1
1925  86.0  4.0     1
4654  62.0  4.0     0
1447  12.0  4.0     1
6083  42.0  4.0     1
1319  70.0  4.0     1
5017  49.0  4.0     1
6356  52.0  4.0     0

In [97]:
df_cases.value_counts('asa')

asa
2.0    3699
1.0    1792
3.0     703
4.0      48
6.0      13
dtype: int64