In [311]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('./classification220926/train.csv')
dftest = pd.read_csv('./classification220926/test.csv')

x = df.iloc[:,:-1]
x1_test = dftest.iloc[:, :]
y = df.loc[:,['income']]
# y1_test = dftest.loc[:,['income']]

In [312]:
x.drop(['no', 'education','fnlwgt','native-country'], axis=1, inplace=True)
x1_test.drop(['no', 'education','fnlwgt','native-country'],axis=1, inplace=True)

x

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week
0,25,Private,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40
1,39,Private,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55
2,35,Private,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50
3,64,Private,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40
4,24,Private,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70
...,...,...,...,...,...,...,...,...,...,...,...
29300,20,Private,9,Never-married,Sales,Own-child,Other,Male,0,0,40
29301,21,Private,9,Never-married,Sales,Own-child,Black,Male,0,0,40
29302,18,Self-emp-not-inc,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40
29303,33,Private,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65
29304,65,?,9,Widowed,?,Not-in-family,White,Female,0,0,40

In [313]:
x.value_counts('workclass')

workclass
 Private             20410
 Self-emp-not-inc     2305
 Local-gov            1868
 ?                    1663
 State-gov            1201
 Self-emp-inc          987
 Federal-gov           854
 Without-pay            12
 Never-worked            5
dtype: int64

In [314]:
import re


# x.replace({'marital-status' : {'Never-married':0,'Separated':1,'Widowed':2,'Married-spouse-absent':3
#                                ,'Divorced':4,'Married-AF-spouse':5,'Married-civ-spouse':6}},inplace=True,regex=True)


# x.replace({'occupation': {'Priv-house-serv':0,'Other-service':1,'Handlers-cleaners':2,'\?':3,
#                           'Farming-fishing':4,'Machine-op-inspct':5,'Adm-clerical':6,
#                           'Transport-moving':7,'Craft-repair':8,'Sales':9,
#                           'Tech-support':10,'Armed-Forces':11,'Protective-serv':12,
#                           'Prof-specialty':13,'Exec-managerial':14}},inplace=True,regex=True)

# x.replace({'relationship':{'Own-child':0,'Other-relative':1,'Unmarried':2,'Not-in-family':3,
#            'Husband':2,'Wife':2}},inplace=True,regex=True)

# x.replace({'workclass':{'Never-worked':0,'Without-pay':1,'\?':2,'Private':3,'State-gov':4,'Self-emp-not-inc':5,
#                         'Local-gov':6,'Federal-gov':7,'Self-emp-inc':8}},inplace=True,regex=True)

# x.replace({'race':{'Other':0,'Black':1,'Amer-Indian-Eskimo':2,'Asian-Pac-Islander':3,'White':4}},inplace=True,regex=True)

x.replace({'marital-status' : {'Never-married':0,'Separated':0,'Widowed':0,'Married-spouse-absent':0
                               ,'Divorced':1,'Married-AF-spouse':4,'Married-civ-spouse':4}},inplace=True,regex=True)


x.replace({'occupation': {'Priv-house-serv':0,'Other-service':0,'Handlers-cleaners':0,'\?':1,
                          'Farming-fishing':1,'Machine-op-inspct':1,'Adm-clerical':1,
                          'Transport-moving':2,'Craft-repair':2,'Sales':3,
                          'Tech-support':3,'Armed-Forces':3,'Protective-serv':3,
                          'Prof-specialty':4,'Exec-managerial':4}},inplace=True,regex=True)

x.replace({'relationship':{'Own-child':0,'Other-relative':0,'Unmarried':0,'Not-in-family':1,
           'Husband':4,'Wife':4}},inplace=True,regex=True)

x.replace({'workclass':{'Never-worked':0,'Without-pay':0,'\?':1,'Private':2,'State-gov':3,'Self-emp-not-inc':3,
                        'Local-gov':3,'Federal-gov':4,'Self-emp-inc':5}},inplace=True,regex=True)

x.replace({'race':{'Other':1,'Black':1,'Amer-Indian-Eskimo':1,'Asian-Pac-Islander':2,'White':2}},inplace=True,regex=True)


# x1_test.replace({'marital-status' : {'Never-married':0,'Separated':0,'Widowed':0,'Married-spouse-absent':0
#                                ,'Divorced':1,'Married-AF-spouse':4,'Married-civ-spouse':4}},inplace=True,regex=True)


# x1_test.replace({'occupation': {'Priv-house-serv':0,'Other-service':0,'Handlers-cleaners':0,'\?':1,
#                           'Farming-fishing':1,'Machine-op-inspct':1,'Adm-clerical':1,
#                           'Transport-moving':2,'Craft-repair':2,'Sales':3,
#                           'Tech-support':3,'Armed-Forces':3,'Protective-serv':3,
#                           'Prof-specialty':4,'Exec-managerial':4}},inplace=True,regex=True)

# x1_test.replace({'relationship':{'Own-child':0,'Other-relative':0,'Unmarried':0,'Not-in-family':1,
#            'Husband':4,'Wife':4}},inplace=True,regex=True)

# x1_test.replace({'workclass':{'Never-worked':0,'Without-pay':0,'\?':1,'Private':2,'State-gov':3,'Self-emp-not-inc':3,
#                         'Local-gov':3,'Federal-gov':4,'Self-emp-inc':5}},inplace=True,regex=True)

# x1_test.replace({'race':{'Other':1,'Black':1,'Amer-Indian-Eskimo':1,'Asian-Pac-Islander':2,'White':2}},inplace=True,regex=True)

In [315]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
# x['workclass'] = encoder.fit_transform(x['workclass'])

# x['marital_status'] = encoder.fit_transform(x['marital_status'])
# x['occupation'] = encoder.fit_transform(x['occupation'])
# x['relationship'] = encoder.fit_transform(x['relationship'])
# x['race'] = encoder.fit_transform(x['race'])
x['sex'] = encoder.fit_transform(x['sex'])
x['capital-gain'] = encoder.fit_transform(x['capital-gain'])
x['capital-loss'] = encoder.fit_transform(x['capital-loss'])
x['hours-per-week'] = encoder.fit_transform(x['hours-per-week'])

# x['native-country'] = encoder.fit_transform(x['native-country'])
# x.insert(0,'income',y)

x1_test['sex'] = encoder.fit_transform(x1_test['sex'])
x1_test['capital-gain'] = encoder.fit_transform(x1_test['capital-gain'])
x1_test['capital-loss'] = encoder.fit_transform(x1_test['capital-loss'])
x1_test['hours-per-week'] = encoder.fit_transform(x1_test['hours-per-week'])


# x['workclass'] = encoder.fit_transform(x['workclass'])


# x1_test['marital_status'] = encoder.fit_transform(x1_test['marital_status'])
# x1_test['occupation'] = encoder.fit_transform(x1_test['occupation'])
# x1_test['relationship'] = encoder.fit_transform(x1_test['relationship'])
# x['race'] = encoder.fit_transform(x['race'])
# x1_test['sex'] = encoder.fit_transform(x1_test['sex'])


# x['native-country'] = encoder.fit_transform(x['native-country'])
# x.insert(0,'income',y)

x

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week
0,25,2,7,1,1,1,2,1,0,0,39
1,39,2,10,1,0,1,2,0,0,35,54
2,35,2,13,0,0,1,2,0,0,0,49
3,64,2,11,1,3,1,2,0,0,0,39
4,24,2,10,4,2,4,2,1,0,0,69
...,...,...,...,...,...,...,...,...,...,...,...
29300,20,2,9,0,3,0,1,1,0,0,39
29301,21,2,9,0,3,0,1,1,0,0,39
29302,18,3,6,0,1,0,2,1,0,0,39
29303,33,2,7,0,2,1,2,1,0,0,64
29304,65,1,9,0,1,1,2,0,0,0,39

In [316]:
from sklearn.model_selection import train_test_split #트레인과 test 비율 나눔
from sklearn.model_selection import cross_val_score  # k-fold cross validation
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

scaler = MinMaxScaler()

# edu = scaler.fit_transform(x[['education_num']])
# x['education_num'] = edu

# gain = scaler.fit_transform(x[['capital-gain']])
# loss = scaler.fit_transform(x[['capital-loss']])
# x['capital-gain'] = gain
# x['capital-loss'] = loss
# x.value_counts('capital-gain')
# xscaler = scaler.fit_transform(x)

# x.value_counts('capital-loss')
# x = xscaler

In [317]:
# from sklearn.model_selection import GridSearchCV
# from sklearn.model_selection import cross_val_score, KFold
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# import pandas as pd

x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2,random_state=1)
# x_train = x
# y_train = y

# cv = KFold(n_splits=5, random_state=1, shuffle=True)
# estimator = RandomForestClassifier()
# params = {'n_estimators':[100,200,300,400,450,500], 'criterion':['gini','entropy']}


# gridrf = GridSearchCV(estimator=estimator, param_grid=params,
#                         cv=cv, verbose=-1, n_jobs=-1, refit=True)

# gridrf.fit(x_train, y_train)

# print("Best Estimator:\n", gridrf.best_estimator_)
# print()
# print("Best Params:\n", gridrf.best_params_)
# print()
# print("Best Score:\n", gridrf.best_score_)
# print()

In [303]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(rf.score(x_train, y_train)) #훈련 데이터
print(rf.score(x_test, y_test)) #테스트 데이터

c:\Project\AI_Source\AI_01\venv\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.9654963221354365
0.8437393381098601

In [304]:

# print(gridrf.score(x_train, y_train))
# print(gridrf.score(x_test, y_test))

In [305]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=42,criterion='entropy')
dt.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(dt.score(x_train, y_train)) #훈련 데이터
print(dt.score(x_test, y_test)) #테스트 데이터

0.9654963221354365
0.8188331627430911

In [306]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier()
kn.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(kn.score(x_train, y_train)) #훈련 데이터
print(kn.score(x_test, y_test)) #테스트 데이터

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8874270114506712
0.8491982258614807

In [307]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold


rf = RandomForestClassifier()
rf.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(rf.score(x_train, y_train)) #훈련 데이터
print(rf.score(x_test, y_test)) #테스트 데이터

c:\Project\AI_Source\AI_01\venv\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.9654584060059149
0.8430569771409075

In [308]:
from sklearn.naive_bayes import GaussianNB
gn = GaussianNB()
gn.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(gn.score(x_train, y_train)) #훈련 데이터
print(gn.score(x_test, y_test)) #테스트 데이터

0.8223250170622582
0.829409757761856

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [309]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(svc.score(x_train, y_train)) #훈련 데이터
print(svc.score(x_test, y_test)) #테스트 데이터

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.851899598089027
0.8587512794268168

In [259]:
dfsubmit = pd.read_csv('./classification220926/sample_submission.csv')
dfsubmit['income'] = svc.predict(x1_test)
dfsubmit.to_csv('model06_CLA.csv',index=False)

In [318]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, KFold
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

cv = KFold(n_splits=5, random_state=1, shuffle=True)
estimator = KNeighborsClassifier()
params = {'n_neighbors':[24,25,26,27,28], 'p':[1,2],'weights':['uniform','distance']}


gridknn1 = GridSearchCV(estimator=estimator, param_grid=params,
                        cv=cv, verbose=-1, n_jobs=-1, refit=True)

gridknn1.fit(x_train, y_train)

print("Best Estimator:\n", gridknn1.best_estimator_)
print()
print("Best Params:\n", gridknn1.best_params_)
print()
print("Best Score:\n", gridknn1.best_score_)
print()

Best Estimator:
 KNeighborsClassifier(n_neighbors=26, p=1)

Best Params:
 {'n_neighbors': 26, 'p': 1, 'weights': 'uniform'}

Best Score:
 0.8551782972189047

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)